.hs-last {
    position: fixed;
    right: 0;
}

.hs-main-button .dx-button{
    padding : 20px;
    border-radius: 4px!important;
}

.hs-main-button .dx-button-content {
    font-size: 16px;
    font-weight: 600;
}

.hs-empty-item {
    height : 41px;
}

.hs-main-toolbar {
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 25%);
    height:100px;
}

.hs-main-container {
    width: 100%;
    height: 100%;
}

.hs-title {
    font-size: 16px !important;
    font-weight: 700;
}

.hs-main-container .hs-detail-form-container .dx-form-group-caption::before{
    content : '';
}
.hs-main-container .hs-detail-form-container .dx-form-group-caption{
    font-size: 16px;
    margin:5px;
    font-weight: 700;
}

.hs-main-container .hs-detail-form-container .dx-field-item-label-text {
    font-weight: 700;
}

.hs-view-mode .dx-texteditor{
    pointer-events: none;
    border-color: transparent;
    opacity: 1;
}

.hs-view-mode .dx-texteditor::after{
    border-color: transparent;
    opacity: 1;
}



.hs-purchase-grid-container .dx-datagrid-total-footer.dx-datagrid-nowrap {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.hs-purchase-grid-container .dx-row.dx-freespace-row.dx-column-lines {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.hs-payment-grid-container .dx-row.dx-freespace-row.dx-column-lines {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.hs-payment-grid-container .dx-datagrid-total-footer.dx-datagrid-nowrap {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.p10 {
    padding: 10px;
}

.hs-view-mode .dx-numberbox .dx-texteditor-input {
    text-align: left;
}

.hs-checkout-container {
    display: flex;
    justify-content: space-between;
    background: #f6f6f6;
    border-bottom: 1px solid #ddd;
}

.hs-checkout-popup-container .dx-overlay-content {
    /* background: #fff;*/
}

.hs-checkout-popup-container .dx-popup-content {
    padding: 0;
}

.hs-checkout-popup-container .dx-toolbar {
    background: #f6f6f6;
    border-bottom: #f6f6f6;
}

.hs-checkout-popup-container.dx-popup-wrapper > .dx-overlay-content {
    border-radius: 0;
}

.hs-checkout-total-title {
    padding: 15px 0 15px 15px;
}

.hs-checkout-total-title span {
    font-size: 32px;
    color: #6c757d;
    font-weight: 600;
}

.hs-checkout-total-price {
    padding: 15px 20px 15px 0;
    color: #3d444b;
}

.hs-checkout-total-price .hs-checkout-krw-text {
    font-size: 28px;
    padding-right: 10px;
    font-weight: 700;
}

.hs-checkout-total-price .hs-checkout-total-price-text {
    font-weight: 700;
    font-size: 32px;
}

.hs-checkout-method-container {
    padding: 20px;
    height: 200px;
    background: #fff;
    border-bottom: 1px solid #ddd;
}

.hs-checkout-method-container h4 {
    font-weight: 600;
    font-size: 16px;
    margin-left: 10px;
}

.hs-checkout-method-container .hs-checkout-method-button-container {
    text-align: center;
    margin-top: 20px;
}

.hs-checkout-method-container .hs-checkout-method-button-container > div {
    width: 31.2%;
    margin: 0 3px;
    border-radius: 4px;
}

.hs-checkout-method-container .hs-checkout-method-button-container .locker-payment-button {
    padding: 15px 60px;
}

.hs-checkout-receipt-container {
    display: table;
    width: 100%;
    position: fixed;
    bottom: 150px;
    background: #fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}

.hs-checkout-receipt-header {
    display: table-cell;
    width: 20%;
    padding: 20px 0 20px 20px;
}

.hs-checkout-receipt-body {
    display: table-cell;
    width: 80%;
    text-align: right;
    padding: 20px 20px 20px 0;
}

.hs-checkbox-receipt-row {
    display: table-row;
}

.hs-checkout-button-container {
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    bottom: 20px;
}

.hs-checkout-button-container .dx-button {
    border-radius: 5px;
    padding: 12px 2px;
}
.hs-cart-payment-button {
    padding: 1rem 3rem;
    font-size: 1.1rem;
    font-weight: 600;
}

.hs-hidden {
    display: none;
}

.tar {
    text-align: right !important;
}

.hs-checkout-method-container .dx-state-focused .locker-payment-button span{
    color : #022B70 !important;
}

.hs-checkout-method-container .dx-state-focused .locker-payment-button i{
    color : #022B70 !important;
}

.hs-checkout-method-container .dx-state-focused {
    border:  1px solid  #022B70;
    background: transparent;
}

.mt15 {
    margin-top: 15px;
}

.hs-main-button.mr10 .dx-button {
    margin-right : 5px;
}