html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.hs-cancel-day-editor-box {
    display: flex;
    line-height: 2.5em;
}

.hs-small {
    font-size: 0.7em;
    --fa-inverse: #1da1f2;
}

.mr05 {
    margin-right: 5px;
}

.ml05 {
    margin-left: 5px;
}

.mt05 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.hs-cancel-nolimit-text {
    line-height: 2.5em;
}

.hs-regular-datetime-box {

}

.hs-regular-datetime-box label.dx-field-item-label {
    width: 60px;
}

.hs-regular-datetime-box .dx-field-item-content {
    /*margin-right: 5.5px;
    margin-left: 2px;*/
}

.hs-cancel-prefix span.dx-field-item-label-content {
    /*width: 35px !important;*/
}

.hs-cancel-prefix .hs-cancel-middle {
    margin-left: -30px;
}

.hs-cancel-prefix .hs-cancel-suffix {
    margin-left: -65px;
    margin-right: 65px;
}

.dark-gray {
    color: #4e555b;
}

.hs-bg-white {
    background: #fff;
}

.hs-box {
    margin: 7.5px;
    padding: 7.5px;
    background: #FFFFFF;
}

.hs-tab-box .dx-tabpanel-container {
    background: #fff;
}

.hs-tab-box .hs-box {
    margin: 5px;
    padding: 7.5px;
}

.hs-discount-multieditor-column {
    display: flex;
    justify-content: space-around;
}

.hs-four-box {
}


.hs-four-box label.dx-field-item-label {
    width: 15px;
    padding-left: 0;
}

.hs-roundofusedate-box span.dx-field-item-label-content {
    width: 35px !important;
}

.hs-four-box .dx-field-item-content {
    margin-right: 5.5px;
    margin-left: 2px;
}

.hs-roundofuse-capacity-box {

}

.hs-roundofuse-capacity-box label.dx-field-item-label {
    width: 85px;
    padding-left: 0;
}

.hs-roundofuse-grid-container .dx-datagrid-group-opened {
    height: 24px;
}

.hs-roundofuse-grid-container .dx-datagrid-group-closed {
    height: 24px;
}

#scheduler .hs-scheduler-today-button {
    padding: 1px;
    border-radius: 5px;
    margin-left: 5px;
}

.dx-scheduler-date-table-current-date {
    font-weight: 700;
    color: #004a99 !important;
}

.hs-holiday-date {
    color: #D22B2B !important;
}

.hs-holiday-date span {
    float: left;
    font-size: 10pt;
    margin-top: 2px;
}

#scheduler .dx-scheduler-work-space-month .dx-scheduler-date-table-cell {
    height: 225px !important;
}

.mb20 {
    margin-bottom: 20px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb05 {
    margin-bottom: 5px;
}

.mb55 {
    margin-bottom: 55px;
}

#scheduler .hs-scheduler-add-button {
    margin-right: 5px;
    padding: 1px;
    border-radius: 5px;
}

#scheduler .hs-scheduler-copy-button {
    margin-right: 5px;
    padding: 1px;
    border-radius: 5px;
}

#scheduler .dx-scheduler-header .dx-toolbar .dx-toolbar-before .dx-scheduler-navigator .dx-toolbar-item-content {
    padding: 9px 0 9px 9px !important;
}

#scheduler .dx-scheduler-header .dx-toolbar .dx-toolbar-before .dx-toolbar-item-content {
    padding: 0 !important;

}

.hs-repeat-yearly-last-box {
    padding-left: 84px !important;
}

.hs-schduler-copy-popup-button-container {
    flex-grow: 0.25;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* align-content: center; */
    justify-content: center;
    /* flex-basis: content; */
    align-items: center;
    align-self: center;
    height: 100%;
    margin-top: -15%;
}

.pt20 {
    padding-top: 20px;
}

.white {
    color: #fff;
}

.hs-scheduler-copy-popup-list-box {
    flex-grow: 2;
    width: 20%;
    padding-top: 15px;
}

.hs-scheduler-copy-popup-bottom-box {
    height: 40px;
    background: #000;
    display: flex;
    justify-content: space-between;
}

.hs-scheduler-copy-popup-count-box {
    line-height: 3em;
    margin-right: 10px;
}

.hs-scheduler-copy-popup-count-text {
    background: #4e555b;
    padding: 3px 15px;
    border-radius: 5em;
    font-size: 12px;
}

.hs-scheduler-copy-popup-list {
    border: 1px solid #ddd;
    background: #fff;
}

.hs-scheduler-copy-popup-list .dx-empty-message {
    border-top: 0;
}

.hs-hidden {
    display: none;
}

.hs-multi-datepicker .ui-state-highlight, .hs-multi-datepicker .ui-widget-content .ui-state-highlight, .hs-multi-datepicker .ui-widget-header .ui-state-highlight {
    border: 0;
    background: #fff;
    color: #777620;
}

.hs-multi-datepicker .ui-state-default, .hs-multi-datepicker .ui-widget-content .ui-state-default, .hs-multi-datepicker .ui-widget-header .ui-state-default, .ui-button, html .hs-multi-datepicker .ui-button.ui-state-disabled:hover, html .hs-multi-datepicker .ui-button.ui-state-disabled:active {
    border: 0;
    background: #fff;
    color: #454545;
    text-align: center;
}

.hs-multi-datepicker .ui-datepicker td {
    padding: 4px;
}

.hs-multi-datepicker .ui-datepicker .ui-datepicker-calendar td.ui-state-highlight a {
    background: transparent;
}

.hs-multi-datepicker .ui-datepicker .ui-datepicker-calendar td.ui-state-highlight {
    border-radius: 5px;
    text-align: center;
    background-color: #296293;
    border-color: transparent;
    color: #fff;
}

.hs-multi-datepicker .ui-widget-content td.ui-state-disabled span {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAAm0lEQVRIx7XVwQnAIAwF0ExSdBF1a6Er9dIRqsVAazWJmh4+iuBT4YMQ4w4pWxk1clt5YlOOFKeAumJZXAgKOKIBb6yBv9AansU/aAsexZtoD5biXZSCOZxEObiHs6gErnERKoURP0uCZM9IpRB2WvDz+eIqzvRUhMNkT1mcQz1xsKfwWZTFV1ASX0W7uAbaxPOCUUBr3MBfn+kF3CNLT2/yky4AAAAASUVORK5CYII=) center center no-repeat;
}

.hs-multi-datepicker td.ui-state-disabled {
    opacity: 0.75;
    background: #fff !important;
    color: #b0b0b0;
}

.hs-multi-datepicker .ui-datepicker td:hover {
    background-color: #f5f5f5 !important;
    border-color: transparent;
    border-radius: 5px;
}

.hs-multi-datepicker .ui-datepicker td:hover a.ui-state-default {
    background: transparent;
    color: #454545;
}

.dx-row.dx-freespace-row.dx-column-lines {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.dx-datagrid-total-footer.dx-datagrid-nowrap {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.dx-tabpanel > .dx-tabpanel-tabs .dx-tabs {
    display: table;
}

.dx-tab.dx-tab-selected {
    border-top: 2px solid #D70010;
    background: #fff;
    border-left: transparent;
    border-right: transparent;
}

.dx-datagrid-rowsview .dx-datagrid-table .dx-row.dx-freespace-row, .dx-datagrid-rowsview .dx-datagrid-table .dx-row.dx-virtual-row {
    border-bottom: 1px solid #ddd;
}

.hs-unavailable-calendar-container {
    width: 100%;
    height: 100%;
    position: absolute;
    min-height: 680px;
    padding-bottom: 30px;
}

.hs-unavailable-calendar-container .dx-calendar-cell {
    height: 165px;
    text-align: left;
    border-radius: 0;
    border: 1px solid rgba(221, 221, 221, .6);
}

.hs-unavailable-calendar-container .dx-calendar-body {
    overflow: inherit;
}

.hs-unavailable-calendar-container .dx-widget.dx-calendar-navigator {
    display: inline-block;
    width: 15%;
    position: relative;
}

.hs-unavailable-calendar-container .dx-calendar-footer {
    position: absolute !important;
    text-align: left !important;
    width: 30% !important;
    display: inline-block !important;
    bottom: auto !important;
}

.hs-unavailable-calendar-container .dx-calendar-footer .dx-button {
    height: 36px;
    border-radius: 4px;
}

.hs-unavailable-calendar-container .dx-calendar-cell.hs-cell-disabled {
    background-image: repeating-linear-gradient(
            135deg,
            rgba(244, 67, 54, 0.1),
            rgba(244, 67, 54, 0.1) 4px,
            transparent 4px,
            transparent 9px
    );
    color: #9b6467;
}

.hs-unavailable-calendar-container .dx-calendar-cell.dx-calendar-selected-date.hs-cell-disabled {
    -webkit-box-shadow: inset 0 0;
    box-shadow: inset 0 0;
}

.hs-unavailable-calendar-container .dx-calendar-cell.dx-calendar-selected-date.hs-cell-disabled .dx-icon-remove, .hs-unavailable-calendar-container .dx-calendar-cell.hs-cell-disabled .dx-icon-remove {
    color: #3d444b;
}


.hs-program-booking-calendar {
    width: 100%;
    height: 100%;
    min-height: 680px;
}

.hs-program-booking-calendar .dx-calendar-cell {
    text-align: left;
    border-radius: 0;
    height: 100px;
    border: 1px solid rgba(221, 221, 221, .6);
}

/*.hs-program-booking-calendar .dx-calendar-body {
    overflow: inherit;
}*/
.hs-program-booking-calendar .dx-widget.dx-calendar-navigator {
    display: inline-block;
    width: 30%;
    position: relative;
    padding: 10px;
}

.hs-program-booking-calendar .dx-calendar-footer {
    position: absolute !important;
    text-align: left !important;
    width: 30% !important;
    display: inline-block !important;
    bottom: auto !important;
    padding: 10px;
}

.hs-program-booking-calendar .dx-calendar-footer .dx-button {
    height: 36px;
    border-radius: 4px;
}

.hs-program-booking-calendar.dx-calendar.dx-calendar-with-footer {
    height: 100%;
    min-height: 760px;
}

.hs-program-booking-calendar .dx-calendar-cell.hs-cell-enabled {
    background-image: repeating-linear-gradient(
            135deg,
            rgb(86, 135, 204, 0.1),
            rgb(86, 135, 204, 0.1) 4px,
            transparent 4px,
            transparent 9px
    );
    color: #2c5590;
}

.hs-program-booking-calendar .dx-calendar-cell.dx-calendar-selected-date.hs-cell-enabled {
    -webkit-box-shadow: inset 0 0 0 1000px rgb(86, 135, 204);
    box-shadow: inset 0 0 0 1000px rgb(86, 135, 204);
    color: #fff;
}


.hs-program-booking-calendar .dx-calendar-cell.hs-cell-disabled {
    background-image: repeating-linear-gradient(
            135deg,
            rgba(244, 67, 54, 0.1),
            rgba(244, 67, 54, 0.1) 4px,
            transparent 4px,
            transparent 9px
    );
    color: #9b6467;
}

.hs-program-booking-calendar .dx-calendar-cell.dx-calendar-selected-date.hs-cell-disabled {
    --webkit-box-shadow: inset 0 0 0 1000px rgba(244, 67, 54);
    box-shadow: inset 0 0 0 1000px rgba(244, 67, 54);
    color: #fff;
}

.hs-program-booking-calendar .dx-calendar-body table th {
    border: 1px solid rgba(221, 221, 221, .6);
}

.hs-booking-calendar .dx-field-item-content {
    background: #fff;
}

.h100p {
    height: 100%;
}

.h10p {
    height: 10%;
}

.hs-scheduler-copy-selectbox {
    display: inline-block;
}

.hs-scheduler-copy-container {
    display: flex;
    height: 100%;
}

.hs-unavailable-calendar-cell-table {
    display: table;
    width: 100%;
    height: 100%;
}
.hs-unavailable-calendar-container .dx-calendar-body {
    top: 45px;
}


.hs-unavailable-calendar-container .dx-calendar-body thead tr {
    height: 35px;
}

.hs-unavailable-calendar-container .dx-calendar-body table th {
    border: 1px solid rgba(221, 221, 221, .6);
}

.hs-unavailable-calendar-container .dx-calendar-body table th {
    color: #999;
    text-align: center;
    font-size: 14px;
    padding: 0;
}

.hs-unavailable-calendar-cell-table .header-row {
    display: table-row;
    height: 10%;
"
}

.hs-unavailable-calendar-cell-table .header-cell-west {
    display: table-cell;
    width: 50%;
}

.hs-unavailable-calendar-cell-table .header-cell-east {
    display: table-cell;
    text-align: right;
    width: 50%;
}

.hs-unavailable-calendar-cell-table .hs-calendar-body {
    display: table-row;
}

.hs-unavailable-calendar-cell-table .hs-calendar-body .hs-calendar-body-cell {
    display: table-cell;
    width: 100%;
}

.hs-unavailable-calendar-cell-table .hs-calendar-body .hs-calendar-body-cell .hs-disabled-item-container {
    display: table;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.pl20 {
    padding-left: 20px;
}

.tac {
    text-align: center;
}

.tar {
    text-align: right;
}

.hs-booking-calendar-table {
    display: table;
    width: 100%;
    height: 100%;
}

.hs-booking-calendar-table .header-row {
    display: table-row;
    height: 10%;
}

.hs-booking-calendar-table .header-cell-west {
    display: table-cell;
    width: 90%;
}

.hs-booking-calendar-table .header-cell-east {
    display: table-cell;
    width: 10%;
    text-align: right;
}

.hs-booking-calendar-legend-table {
    display: table;
    width: 50%;
    padding: 15px 0 10px 20px;
}

.hs-booking-calendar-legend-table .cell {
    display: table-cell;
}

.hs-booking-calendar-legend-table .cell .enable {
    background: #2c5590;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
}

.hs-booking-calendar-legend-table .cell .disable {
    background: #9b6467;
    border-radius: 50%;
    display: inline-block;
    width: 10px;
    height: 10px;
}

.inline {
    display: inline-block;
}

.vam {
    vertical-align: middle;
}

.hs-roundofuse-group-button {
    display: inline-block;
    float: right;
}

.hs-repeat-bymonth {
    display: flex;
}

.hs-repeat-bymonth-label {
    width: 54px;
    margin-left: 5px;
    line-height: 2.5em;
}

.hs-program-grid-container .dx-toolbar-items-container .dx-button {
    margin-top: 5px;
}

.hs-scheduler-copy-container .dx-button-mode-text .dx-icon {
    color: #333;
}

.hs-regular-start-date-box span.dx-field-item-label-content {
    width: 47px !important;
}
.hs-regular-start-date-box.dx-field-item:not(.dx-last-col) {
    padding-right: 0;
}

.hs-regular-end-date-box.dx-field-item {
    padding-left: 27px !important;
}

.hs-view-mode .dx-texteditor, .hs-view-mode .dx-texteditor.form-editor {
    pointer-events: none;
}

.hs-view-mode .dx-texteditor::after, .hs-view-mode .dx-texteditor.form-editor::after {
    border-color: transparent;
    opacity: 1;
}

.hs-view-mode .dx-texteditor.dx-editor-outlined {
    background: transparent;
    border-color: transparent;
    opacity: 1;

}

.hs-view-mode .dx-dropdowneditor-icon {
    color: transparent;
}

.hs-cancel-edit-container {
    display: flex;
}

.hs-cancel-edit-container .hs-cancel-editor-label {
    width: 30%;
    line-height: 2.5em;
}

.hs-cancel-before-time-editor {
    width: 60%;
    line-height: 2.5em;
}

.hs-swimming-grid-container .dx-datagrid-header-panel, .hs-swimming-grid-container .dx-toolbar-items-container {
    background: #f7f7f7;
}

.hs-swimming-grid-container .dx-datagrid .dx-column-lines > td {
    border-left: 1px solid #ddd !important;
    border-right: 1px solid #ddd !important;
}

.hs-swimming-grid-container .dx-datagrid-content .dx-datagrid-table .dx-row > td.dx-datagrid-group-space + td, .dx-datagrid-content .dx-datagrid-table .dx-row > tr > td.dx-datagrid-group-space + td {
    border-left: none !important;
}

.hs-swimming-grid-container .dx-datagrid-content .dx-datagrid-table .dx-row > td.dx-datagrid-group-space, .dx-datagrid-content .dx-datagrid-table .dx-row > tr > td.dx-datagrid-group-space {
    border-right: none !important;
    vertical-align: top !important;
}

.hs-program-edit-popup-container .dx-popup-content {
    background: #fff;
}

.body-cell-description {
    white-space: nowrap;
    overflow-y: hidden;
    text-overflow: ellipsis;
    width: 230px;
    height:100px;
}