/* 게시판 */
.dx-filemanager .dx-filemanager-container .dx-drawer-shrink .dx-drawer-panel-content {
	display:none;
}

.dx-filemanager .dx-filemanager-breadcrumbs, .dx-filemanager .dx-freespace-row {
	display:none !important;
}

#dropzone-external {
  width: 182px;
  height: 182px;
  background-color: rgba(183, 183, 183, 0.1);
  border-width: 2px;
  border-style: dashed;
  padding-top: 27%;
  font-size:0.7rem;
  text-align: center;
}

#dropzone-external > * {
  pointer-events: none;
}

#bbsDetailTemplate .dx-filemanager .dx-filemanager-toolbar {
	display:none;
}

.tileGridContainer table.dx-datagrid-table {
	display: flex; flex-direction: row; flex-wrap: wrap;	
}
.tileGridContainer table.dx-datagrid-table tbody.dx-row {
	width:20%;
}
.tileGridContainer table.dx-datagrid-table tr.dx-row {
	border:0;	
}
.tileGridContainer table.dx-datagrid-table tbody.dx-row .tileCell{
	text-align:center; padding: 4px; color:#333;
}
.tileGridContainer table.dx-datagrid-table tbody.dx-row .tileCell .tit{
	overflow: hidden;color:#000;text-overflow: ellipsis;white-space: nowrap;
}
.tileGridContainer table.dx-datagrid-table tbody.dx-row .tileCell .view > div {
	width:100px; display:inline-block;	
}