/* 대관예약관리 */
#tab1 .btn-top-area .legend {
	display:inline-block;
	font-size:0.8rem;
	margin-right: 4px;
}
#tab1 .btn-top-area .legend-group {
	border: 1px solid #e5e5e5;
	display: inline-block;
    padding: 1px 10px 5px;
}
#tab1 .btn-top-area .legend span {
    display: inline-block;
	height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: 0px;
    padding: 0 5px;
    border-radius: 7px;
    margin-right: 2px;
    background-color: #eee;
}
#tab1 .btn-right-area {
	float:right;padding-top: 4px;
}
#tab1 .btn-right-area .dx-button-has-text .dx-button-content {
	padding: 4px 18px 5px;
}
.calendarContainer .dx-scheduler-header {
	height:40px;	
}
/* .calendarContainer .dx-toolbar .dx-toolbar-menu-container { */
/* 	display:none; */
/* } */
.calendarContainer .dx-scheduler-navigator > div {
	padding:0 !important;
}
.calendarContainer .dx-toolbar .dx-toolbar-items-container {
    margin: -9px 10px 0;
}
.calendarContainer .dx-toolbar .dx-toolbar-after {
	right: 25px;
}
.calendarContainer table.dx-scheduler-header-panel {
	margin-top:3px;
}
.calendarContainer table.dx-scheduler-header-panel .dx-scheduler-header-row th {
	height:20px;
}
.calendarContainer table.dx-scheduler-date-table .dx-scheduler-date-table-row td {
	height:150px;
}
.calendarContainer .dx-scheduler-date-table-container {
	overflow-y:auto;
}
.calendarContainer table.dx-scheduler-date-table .dx-scheduler-date-table-row td .appoint-menu {
	float:left;color: #111;
}
.calendarContainer .dx-scheduler-appointment {
	background-color:transparent;
	border: 0;
    box-shadow: none;	
    height:16px;
}
.calendarContainer .dx-scheduler-appointment .appoint-empty-item {
    height: 124px !important;color:red;
    height:25px;
}
.calendarContainer .dx-scheduler-appointment .appoint-item {
    font-size:11px !important;color:#000;
}
.calendarContainer .dx-scheduler-appointment .appoint-item > div {
    display:inline-block;border-radius:3px;text-align: center; 
}
.calendarContainer .dx-scheduler-appointment .appoint-item > div:nth-child(1) {
	width: 22%;
}
.calendarContainer .dx-scheduler-appointment .appoint-item > div:nth-child(3) {
	width: 12%;
}
.calendarContainer .dx-scheduler-appointment .appoint-item > div:nth-child(2) {
	width: 63%;
}
.contextContainer, .subContextContainer {
    position: absolute;
    z-index: 100;
    background-color: white;
    text-align: left;
}
.contextContainer > div, .subContextContainer > div {
	border: 1px solid #ddd;
}

/* 대관예약현황 */
#reserveList {
	height:500px;
}
#reserveList .btn-top-area {
	padding: 0 0 0 17px;font-size:0.9em;z-index: 10;
}
#reserveList .gridContainer {
	top: -48px;position: relative;height:490px;
}
#reserveDetail {
	margin-top:10px;height:calc(100vh - 660px);
}
#reserveDetail .sub-title {
	padding: 10px 0 0 17px;font-size:0.9em;z-index: 10;
}
#reserveDetail .gridContainer {
	top: -28px;position: relative;height: calc(100vh - 670px);
}

/* 예약신청 */
.locker-payment-button-container {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
.locker-payment-info-box {
    display: table;width:100%;padding: 5px;border-top: 1px solid #ccc;
}
.locker-payment-sub-box {
    display: table;width:100%;padding: 5px;
}
.locker-payment-total-box {
    display: table;width:100%;padding: 5px;border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;
}

.locker-payment-header {
    display: table-cell;width:30%;
}
.locker-payment-body {
    display:table-cell;text-align: right;
}
.locker-payment-button-container > div {
    width: 32.5%;
}
.locker-payment-button-container .locker-payment-button {
    padding:10px 61px;
}
.mt15 {
    margin-top : 15px;
}
.grey {
    color: darkgrey;
}
.lec_status-tag{
	margin-left:2px;
	padding: 0px 6px;
    height: 15px;
    display: inline-block;
    border-radius: 10px;
    font-size: 0.65rem;
}
.lec_status-button{
	margin-left:2px;
	padding: 0px 6px;
    height: 15px;
    display: inline-block;
    border-radius: 2px;
    font-size: 0.65rem;
    width:50px;
    text-align: center;
}
/* 대관예약신청 캘린더 */
.dx-calendar-body {
	top: 40px;
}
.hs-center-btn > div {
	margin-left: -405px;
}
#facilityPaymentTemplate .dx-checkbox-text {
	white-space: nowrap;
}
/* 대기자승인, 추첨 */
.selected-form-group.bold .dx-field-item-label-location-left .dx-field-item-label-text {
	font-weight: 700;
}
/* textarea placeholder 개행 */
.dx-textarea .dx-placeholder::before {
	white-space: pre;
}