/****minhh start***/
/*minhh del .condition label {margin-top:3px !important;}
.condition .col-sm-2 {flex: 0 0 16.1%;max-width: 16.1%;}
.condition label {max-width: 6%;} 
*/
/* html {
    font-size: 80%;
} */
/* 컨텐츠영역 */
.fmcs-wrapper {
	top:40px;
	left:48px;
	right:0;
	background: white;
	position:fixed;
	height:100vh;
}
.layout-fixed.sidebar-collapse .fmcs-wrapper {
	left:48px;
}
.layout-fixed .fmcs-wrapper {
	left:219px;
}
.row {
	margin-left:0px;
	margin-right:0px;
}

/* 검색조건 */
.fmcs_condition {
	overflow:hidden;
}

.popup_conditions .buttons {
margin-left:0px;	
}
.popup_conditions .buttons .btnRefresh {
	margin-left:0px;	
}
 
/****minhh end***/   
   
	/* .condition label {margin-top:3px !important;} */
	.condition .col-sm-2 {flex: 0 0 16.1%;max-width: 16.1%;} 
    .row_title > div {background:#022B70;height:40px;}
    .row_title > div > .navbar-nav {color:white;flex-direction: row;display: flex;box-sizing: border-box;margin-top: 2px;}
	.row_title .quick-nav {font-size:0.9rem;}
	.row_title .quick-nav img{margin: -2px 0px 0 8px;
    height: 14px;}
    .row_title .common-menu {position: absolute;right: 25px;}
    .main-sidebar, .main-sidebar::before {width: 220px;}    
	.sidebar-mini .main-sidebar .nav-link, .sidebar-mini-md .main-sidebar .nav-link, .sidebar-mini-xs .main-sidebar .nav-link {
		width: calc(220px - 0.5rem * 2);
	} 
	.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
		background-color: initial;
	    color: initial;
	    box-shadow: none;
	}
	.card-body {padding: 0.5rem;-webkit-flex: 0 1 auto;-ms-flex: 0 1 auto;flex: 0 1 auto;background-color: #F4F4F4;}
	.main-condition {padding: 0px 0 0px 8px; margin-left: -5px;}
	.main-condition .shadow-row {background: #fff;height: 7px;margin: 0 -23px;box-shadow: 0 1px 3px 0 #aaa inset;}
    .form-group {margin-bottom: 8px;}
    .form-horizontal .col-form-label {text-align:left;}
    .form-horizontal button.btn {white-space: nowrap;}
    .form-horizontal div.div-btn {padding: 0 0px 0 0;}
    .form-horizontal div.div-btn button {width:100%;}
    .form-horizontal div.div-btn p {float:left;position:absolute;color:#ddd;}
/*     .card-body label {font-size:1em; font-weight:normal !important; line-height:9px;}
    .card-body button {font-size:1em !important; font-weight:normal !important; height:31px; line-height: 1rem;}
    .card-body input {font-size:1em; font-weight:normal !important; height:32px;}
    .card-body select {font-size:1em; font-weight:normal !important; height:32px;padding: 1px 10px;}
    .card-body textarea {font-size:1em; font-weight:normal !important; line-height:16px;} */
    .bootstrap-datetimepicker-widget {font-size:0.7rem;}
    label.col-form-2line {
    font-size: 0.8rem;
    line-height: 0.9rem;
    margin: -6px 0 -6px
    }
    .tabs-container .dx-tabs-nav-button-left {right:25px;left: initial;}
    .tabs-container .dx-tabs-scrollable {margin-right:50px;margin-left:0px;}
    .dx-tabs {border:0;}
    .dx-tab {
    	padding: 4px;
    	background-color:#fff;
    	border-top:1px solid #e5e5e5;
    	border-right:1px solid #e5e5e5;
    	border-bottom:1px solid #A74347;
    	font-size:0.8rem;}
    .dx-tab:last-child {border-right:0;}
    .dx-tabs-nav-buttons .dx-tabs-scrollable .dx-tabs-wrapper {border:0}
    .dx-datagrid {color:#000;}
/*    
	.dx-tabs-scrollable .dx-tab {border-right:1px solid #e1e1e1;background-color:#f5f5f5;}
    .dx-tabs-scrollable .dx-tab:first-child {border-top:2px solid #D70010;background:white;}
    #gridContainer table td {border-left:0;border-right:0;}
    #gridContainer .dx-datagrid-rowsview {border-top:0;border-left:0;border-right:0;}
    #gridContainer .dx-datagrid-headers {color:#000;border-left:0;border-right:0;}
    #gridContainer .dx-datagrid-headers td {border-left:1px solid #e1e1e1;background-color:#f1f1f1 !important;}
    #gridContainer .dx-datagrid-headers td:first-child {border-left:0;} 
*/
    .dx-tab.dx-tab-selected {
    	border-top:2px solid #D70010;
    	border-left:1px solid #D70010;
    	border-right:1px solid #8F4347;
    	border-bottom:1px solid #fff;
    	background:#fff;
    	border-radius: 6px 6px 0 0;
    }    
    .dx-tab.dx-state-focuced {
    	border-top:2px solid #D70010;
    	border-left:1px solid #D70010;
    	border-right:1px solid #8F4347;
    	border-bottom:1px solid #fff;
    	background:#fff;
    	border-radius: 6px 6px 0 0;
    } 
    .dx-tab.dx-tab-selected::after {border:0} 
    .dx-tab.dx-state-focuced::after {border:0}
    .dx-tabpanel-tabs {
    	padding-left:10px;
    	padding-right:10px;
    }
    .dx-tabpanel > .dx-tabpanel-container > .dx-multiview-wrapper {
    	border:0;
    }
	.dx-tabpanel.dx-state-focused > .dx-tabpanel-container > .dx-multiview-wrapper {
		border:0;
	}
	.dx-tabpanel > .dx-tabpanel-tabs .dx-tab.dx-tab-selected {
		-webkit-box-shadow: none;
		box-shadow: none;
	    border-top:2px solid #D70010;
    	border-left:1px solid #D70010;
    	border-right:1px solid #8F4347;
    	border-bottom:1px solid #fff;
    	background:#fff;
    	border-radius: 6px 6px 0 0;	
	}	 
	.dx-tabpanel > .dx-tabpanel-tabs .dx-tab {
	  -webkit-box-shadow: none !important;
	  box-shadow: none !important;
	}	   
    .dx-datagrid .dx-datagrid-table tr td {padding:3px;font-size:0.8rem;vertical-align:middle !important;}
    .dx-datagrid .dx-datagrid-table tr td {font-size:0.8rem;}
    .dx-datagrid .dx-datagrid-rowsview {border-top:0;}
    .dx-datagrid .dx-datagrid-headers {color:#000;}
    .dx-datagrid .dx-datagrid-headers td {background-color:#f5f5f5 !important;text-align:center !important;}
	.dx-datagrid .dx-column-lines td {
		border-left: 1px solid #eee;
    	border-right: 1px solid #eee;
    }
	.dx-datagrid-borders > .dx-datagrid-rowsview, .dx-datagrid-borders > .dx-datagrid-total-footer {
		border:0;
	}  	  
	.dx-datagrid-rowsview .dx-row:not(.dx-freespace-row) {
	    border-left: 1px solid #ddd;
	    border-right: 1px solid #ddd;
	    border-bottom: 1px solid #ddd;
	}
	.dx-datagrid-rowsview .dx-row.dx-freespace-row td {
		border:0;
	}
	.dx-editor-cell .dx-texteditor, .dx-editor-cell .dx-texteditor .dx-texteditor-input {
		font-size:0.8rem;padding:0px 4px 0px;min-height: 19px;
	}
 	.dx-datagrid-rowsview .dx-row-focused.dx-data-row .dx-command-edit:not(.dx-focused) .dx-link, .dx-datagrid-rowsview .dx-row-focused.dx-data-row > td:not(.dx-focused), .dx-datagrid-rowsview .dx-row-focused.dx-data-row > tr > td:not(.dx-focused)	{
		background-color: #325BA0;color:#fff;
	} 
 	.dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused) > td, .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused) > tr > td, .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):hover > td, .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):hover > tr > td {
		background-color: #5c95c5;color:#fff;
	}
	.grp_low_height {margin-top:0.45rem;}
	.grp_low_height .dx-checkbox-text {margin-top: -2px;}
	
    button.btn-secondary {background-color:white;border-radius:0;color:black;}
    button.btn-secondary:hover {background-color:#eee;border-radius:0;color:black;}
    .custom-control-input:checked~.custom-control-label::before {background-color:#022B70;}
    /* .condition label {max-width: 6%;} */
    .col-sm-1col {flex: 0 0 7%;max-width: 7%;margin-left:0%}
    .col-sm-2col {flex: 0 0 7%;max-width: 7%;margin-left:2.5%}    
    .row_title .navbar-nav .quick-nav {height: 40px;margin: -2px 0 0 0;}
    .row_title .navbar-nav > .quick-nav:first-child {font-size:1.0rem;margin: -4px 0 0 0;}
    /*function_btn add minhh*/
   .dx-button-mode-contained.dx-button-default  {background-color: #022B70;color:#fff;}
   .dx-button-mode-contained.dx-button-gray  {background-color: #888888;color:#fff;}
    
    .dx-field-item-label-text {font-size:0.8rem;font-family: "Noto Sans KR";color:#161616;font-weight:400;}
    .grid-header-title,.dx-widget, .dx-widget input, .dx-widget textarea {font-size:0.8rem;font-family: "Noto Sans KR";color:#161616;font-weight:400;}	
	.dx-texteditor.dx-editor-outlined {
	    background: #fff;
  	    border: 1px solid #e9e9e9;
	    border-bottom: 1px solid #8D8D8D;  
	    border-radius: 0px;
	} 
	.dx-texteditor.dx-state-readonly {
		border-left: 1px solid rgba(255, 255, 255, .9);
		border-right: 1px solid rgba(255, 255, 255, .9);
		border-top: 1px solid rgba(255, 255, 255, .9);
		background: #fafafa;
	}
	.dx-texteditor.dx-editor-outlined.dx-state-focused {
	    background: #fff;
	    border: 1px solid #0000ff;
	    border-radius: 0px;
	} 
	.dx-texteditor.dx-state-readonly.dx-state-focused {
		border: 1px solid rgba(255, 255, 255, .9);
		border-bottom: 1px solid #8D8D8D;  
	} 		   
	.dx-layout-manager .dx-field-item:not(.dx-first-row) {
	    padding-top: 5px;
	}	
	.dx-button {border-radius: 0;}
	.btn-group.dx-button {height: 36px;}
	.buttons #searchBtn, .buttons #searchBtn {height: 36px;width:35px;}
	.dx-button-has-icon .dx-button-content {padding:5px 8px;}
	.dx-toolbar-text-auto-hide .dx-button .dx-button-content {padding: 5px 8px;}
	.dx-button-content > i {margin: 4px 0;}	
	/* CK editor */
	/*minhh delete .previewEditor {width:100%;background-color:#e5e5e5;} */
	 .previewEditor {width:100%;}
	.cke.cke_reset {width:100%;}
	.functionbtn .dx-button-content{background-color: #022B70;color:#fff;}
	.functionbtn .dx-button-normal.dx-state-hover .dx-button-content {
    	background-color: #296293;
    	border-radius: 4px;
	}
	.orderbtn{
		border-color:#ddd;
		background-color: #fff;
	}
		
	td .writeable{
		color:#3f51b5;
		/*border-top: 2px solid #39d1b4 !important;
		border-bottom: 2px solid #eee !important;
		 border-left: 2px solid #39d1b4 !important;
		border-right: 2px solid #39d1b4 !important; */
	}
	
	.dx-form-group-with-caption {
		margin-top:10px;
	}
	.dx-form-group-caption{
		margin:10px;
		font-size:0.8rem;
	}
	.dx-form-group-caption:before {
		content: " ➤ ";
	}	
	
	.dx-form-group-with-caption > .dx-form-group-content {
	 	padding:5px;
    /*  padding-top: 5px;
     padding-bottom: 5px; */
     	border-left: 1px solid #ddd;
	    border-right: 1px solid #ddd;
	    border-bottom: 1px solid #ddd; 
	}
	.selected-form-group .dx-form-group-caption {
		margin: 0;
    	font-size: 1.0rem;
		display: flex;
	    align-items: center;
	    white-space: nowrap;	    	
	}
	.selected-form-group .dx-form-group-caption:before {
		content: "";
	}
	.selected-form-group .dx-form-group-caption:after {
		background-color: #000;
	    content: "";
	    height: 1px;
	    width: 100%;
	    margin-left:10px;
	}	
	.selected-form-group .dx-form-group-with-caption > .dx-form-group-content {
		border: 0;
	}	
	.selected-form-group .dx-field-item-label-location-top .dx-field-item-label-text {
		font-weight: 700;
	}	
	.selected-form-group .dx-field-item-content-location-bottom {
		font-size: 0.8rem;
	}
	.group-caption{
 	 color:#325ba0;
  	  border-bottom: 1px solid #000; 
	}
	.dx-popup-bottom .dx-button.dx-button-normal, .dx-popup-bottom .dx-button.dx-button-default {background-color: #022B70;color:#fff;}
	.dx-popup-bottom .dx-button.dx-button-gray {background-color: #888888;color:#fff;}
    .dx-popup-bottom .dx-button:hover {background-color: #296293;border-radius: 4px;}
	.dx-popup-wrapper > .dx-overlay-content {
		background-color:#f6f6f6;
	}
	.dx-popup-wrapper.dx-overlay-shader > .dx-overlay-content {
		border: 1px solid #444 !important;
	}	
	.dx-popup-wrapper > .dx-overlay-content .dx-popup-title.dx-toolbar {
		background-color: #021B50;color:#fff;
	}
	.dx-popup-wrapper > .dx-overlay-content .dx-popup-title.dx-toolbar .dx-button-mode-text .dx-icon {
		color: #fff;
	}
	
	.dx-overlay-shader {
		background-color: rgba(0,0,0,.8)
	}  
	.cell_two_widget{
		width: 70%;
    	display: inline-block;
		min-height: 22px;
		border-right: 1px solid #ddd !important;
	}
	.dx-editor-cell .dx-placeholder{
		top: -3px;
	}
	.group-title{
		font-size:0.9rem;
		color:#3e2723;
	}
	.dx-datagrid-rowsview .dx-row.dx-group-row td {
    	border-bottom-color: #8d8989;
	}
	.append-btn-refresh{
		padding-left: 0px !important;
		margin-left: -10px;
	}
	.user-profile .profile-close {
		z-index:5;position: relative;float: left;margin-left: 208px;
	}
	.cst-small-button .dx-button-content {
		height: 30px;
	    width: 30px;
	    padding: 1px 0 0 2px;
	}
	.user-profile .profile-image {
		float: left;position: absolute;margin-top: 1px;
	}
	.user-profile .profile-image img {
		height: 240px;border-radius:85px;
	}
	.user-profile .profile-image .user-info {
		margin-top:10px;text-align:center;
	}
	.user-profile .profile-image .user-info {
	    border-radius: 7px;
		display: block;
    	height: 35px;
	}
	.user-profile .profile-image .user-info.member {
		color:#325Bf0;
		background-color:#E8EEFE;
	    border: 0;
	    font-weight:700;
	}	
	.user-profile .profile-image .user-info.member .dx-button-content {
		cursor:default;
	}
	.user-profile .profile-image .user-info.nomember {
		color:#D70010;
		background-color:#FFF3F3;
	    border: 1px solid #C72030;
	}	
	.user-profile .profile-camera {
		z-index:5;
		position: relative;
	    float: left;		
    	margin: 158px 0 0 191px;
	    height: 50px;
	    width: 50px;
	    background: center no-repeat url(/fmcs/images/camera.png) #fff;
	    background-size: 37px;
	    border: 1px solid #ddd;
	    border-radius: 25px;
	    padding: 9px 4px;
	    cursor:pointer;
	}
	.cell-highlight{
		font-weight:bold;
		color: rgb(0 0 0);
	}
	.cell-highlight-underline{
		font-weight:bold;
		color: rgb(0 0 0);
		text-decoration: underline;
	}
	.dx-field-item-required-mark {
		display:none;
	}
	.fmcs_condition
	{
		background:#F4F4F4;
		box-shadow: 0 1px 4px 0 rgba(0,0,0,0.25);
		height:60px;
		margin-bottom: 10px;
	}
	.iframe-mode .btn-iframe-pin {
		color: #90E4FF;
	    position: absolute;
	    line-height: 1;
	    right: 0.125rem;
	    top: 1.2rem;
	    z-index: 10;
	    visibility: visible;
	}
	.iframe-mode .nav-link.nav-fixed {
		color: rgba(210,255,255,.75) !important;
	}	
	.iframe-mode .nav-link.nav-fixed.active {
		color: rgba(210,255,255) !important;
	}
	.item-has-helptext .dx-field-item-help-text {
		white-space: nowrap;
	    position: relative;
	    left: calc(100% + 5px);
	    margin-top: -1.8rem;
	    padding-left: 10px;
	    font-size:0.8rem;
	}
	.dx-numberbox .dx-texteditor-input {
		text-align: right;
	}
	.dx-icon-small {
		width: 11px !important;
		height: 11px !important;
		line-height: 11px !important;
		background-size: 11px 11px !important;
	}
	.dx-icon-small.dx-icon-clear {
		color: #999 !important;
	}	
	textarea:read-only.txtEditor {
		color: #fff;
	}
	.boldlabel{
		font-weight:600;
		color:#3f51b5;
	}
	.dx-scheduler-all-day-table-cell.dx-state-focused,
	.dx-scheduler-date-table-cell.dx-state-focused {
		background-color: initial;
	}
	.alaram-container .alaram-item:hover {
		background-color: #222;
	}
	.dx-invalid-message.dx-overlay {
		z-index:100;position:fixed;
	}